html {
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    background-color: paleturquoise;
    backdrop-filter: opacity(20%);
  }
  body {
    margin: 1rem 5rem 1rem 5rem;
  }
  
  h1 { 
    text-align: center;
    color: darkblue;
    font-size: 50px;
    font: larger;
    font: monospace;
  }
  h2 {
    margin: 4rem auto 1rem auto;
    text-align: center;
    font-size: 40px;
    font: monospace;
    color: darkolivegreen;
  }
  li {
    font-size: 23px;
    color: darkblue;
    list-style-type: disc;
  }
  p {
    font-size: 23px;
    color: darkblue;
    list-style-type: disc;
  }
  ul {
    font-size: 20px;
  }
  
  ul li {
    padding: 1px 0;
    font-size: 20px;
    list-style-type: disc;
  }
  ol {
    font-size: 20px;
    list-style-type: lower-alpha;
  }
  
  ol li {
    padding: 1px 0;
    font-size: 20px;
    list-style-type: disc;
  }
  table, th, td {
    border: 1px solid;
  }
 
  img {
    margin: 1rem 1rem 1rem 1rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 2px 1px rgb(0,0,0,0.5);
  }
  figcaption {
    text-align: center;
    font-weight: bold;
    color: rgb(0, 58, 66);
  }
  footer {
    margin: 2rem 0 2rem 0;
    text-align: center;
  }
  
  /* ---CUSTOM CLASS NAME SELECTORS--- */
  
  #paragraph {
    font: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  #navtags {
    font:bolder;
  }
  .img-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .tips-div {
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
  }
  .tips-div-box-2 {
    background-origin: padding-box;
    border: 1px solid;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    display: block;
  }
  .top-places-div {
    max-width: 800px;
    margin: 5rem auto;
    color: rgb(253, 197, 132);
    padding: 1rem 2rem;
    background-color: rgb(0, 58, 66);
    border-radius: 1rem;
  }
  .top-places-div h2 {
    text-align: center;
    margin: 1rem auto;
    font-weight: lighter;
  }
  #fname {
    color: blue;
    height: 24px;
    width: 150px;
  }
  #lname {
    color: blue;
    height: 24px;
    width: 150px;
  }
  #email {
    color:blue;
    height: 24px;
    width: 150px;
  }
  #submit {
    color: darkslategray;
    height: 24px;
    width: 150px;
  }
  
  
  